:root {
    --primary-color: #7d0505;
    --second-color: #8e5454;
    --third-color: #9a8b87;
    --fourth-color: #0e5f01;
    --fifth-color: #1c3504;
}
body {
    font-family: Arial, sans-serif; 
    margin: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 80px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border-right: 1px solid var(--third-color);
    border-left: 1px solid var(--third-color);
    padding: 10px;
    text-align: center;
}
th {
    background-color: var(--third-color);
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--second-color);
    border-radius: 8px 8px 0px 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.modal-header {
    font-size: 20px;
    margin-bottom: 15px;
}
.close-btn {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.close-btn:hover {
    background-color: darkred;
}
#modal-pago{
    background-color: white;
}
#modal-pago form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#modal-pago form button{
    border: none;
    padding: 10px 20px;
    width: 50%;
    border-radius: 5px;
}
#modal-pago form button:hover{
    background-color: var(--second-color);
    color: white;
}