:root {
    --primary-color: #7d0505;
    --second-color: #8e5454;
    --third-color: #9a8b87;
    --fourth-color: #0e5f01;
    --fifth-color: #1c3504;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo img{
    max-width: 60px;
    margin: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 40px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
#iniciar-sesion-boton{
    background-color: var(--third-color);
    padding: 12px 17px 12px 17px;
    border-radius: 5px;
}
#iniciar-sesion-boton:hover{
    background-color: var(--second-color);
}
#crear-cuenta-boton{
    font-weight: lighter;
}
.main-header-home{
    background-image: url(/IMAGES/OTHERS/home-main-header.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 1000px 1000px 1000px rgba(0, 0, 0, 0.5);
    height: 88vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.main-header-home img{
    max-width: 800px;
    max-height: 400px;
}.main-section {
    background-color: black;
    color: white;
    display: flex; 
    height: 700px;
    gap: 20px; 
    justify-content: space-between; 
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.main-section-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
}
.main-section #div-1 {
    padding: 50px;
    min-width: 700px; 
    max-width: 750px;
}

.main-section #div-2 {
    background-image: url('/IMAGES/OTHERS/cocina-imagen-section.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 1000px 1000px 1000px rgba(0, 0, 0, 0.5);
    height: 700px;
    min-width: 500px;
    max-width: 900px;
    align-content: center;
}

.main-section #div-2 img {
    max-width: 300px;
}

.main-section #div-3 {
    padding: 50px;
    max-width: 750px;
}

.main-section #div-4 {
    flex: 0 0 20%; /* Toma el 20% de la altura del contenedor */
    width: 800px; /* Ancho fijo */
}

.main-section #div-4 a {
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 20px 30px;
    border-radius: 10px;
    color: white;
}