:root {
    --primary-color: #7d0505;
    --second-color: #8e5454;
    --third-color: #9a8b87;
    --fourth-color: #0e5f01;
    --fifth-color: #1c3504;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*Pagina home*/
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-logo img {
    max-width: 60px;
    margin: 10px;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 40px;
}
/*Para poder aplicar el menu desplegable*/
@media (max-width: 795px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .nav-menu.active {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .nav-menu.active ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .menu-icon {
        display: block;
    }
}

@media (min-width: 769px) {
    nav ul {
        display: flex;
    }
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--primary-color);
}

#iniciar-sesion-boton {
    background-color: var(--third-color);
    padding: 12px 17px 12px 17px;
    border-radius: 5px;
}

#iniciar-sesion-boton:hover {
    background-color: var(--second-color);
}

#crear-cuenta-boton {
    font-weight: lighter;
}

.main-header-home {
    background-image: url(/IMAGES/OTHERS/home-main-header.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 1000px 1000px 1000px rgba(0, 0, 0, 0.5);
    height: 88vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main-header-home img {
    max-width: 800px;
    max-height: 400px;
}

.main-section {
    background-color: black;
    color: white;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    height: 85vh;
}

#main-section-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 80px;
    padding-bottom: 100px;
}

.main-section #div-1 {
    padding: 50px;
    min-width: 600px;
    max-width: 650px;
}

.main-section #div-2 {
    background-image: url('/IMAGES/OTHERS/cocina-imagen-section.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 1000px 1000px 1000px rgba(0, 0, 0, 0.5);
    height: 100%;
    align-content: center;
    width: 40%;
}

.main-section #div-2 img {
    max-width: 300px;
}

.main-section #div-3 {
    padding: 50px;
    max-width: 650px;
    min-width: 600px;
}

.main-section #div-4 {
    width: 100%;
}

.main-section #div-4 a {
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 20px 30px;
    border-radius: 10px;
    color: white;
}

.main-section #div-4 a:hover {
    background-color: var(--fifth-color);
    color: var(--third-color);
}

#platos-destacados {
    text-align: center;
    font-weight: bold;
}

#platos-destacados .platos-destacados-main {
    background-color: var(--primary-color);
    padding: 40px;
}

#platos-destacados h2 {
    color: white;
    padding-bottom: 50px;
    font-size: 2rem;
}

#platos-destacados .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

#platos-destacados .flex-container .plato {
    background-color: white;
    max-width: 300px;
    padding: 10px 10px 40px 10px;
    border-radius: 10px;
    font-size: 1.15rem;
}

#platos-destacados .flex-container .plato .plato-img1,
#platos-destacados .flex-container .plato .plato-img2,
#platos-destacados .flex-container .plato .plato-img3,
#platos-destacados .flex-container .plato .plato-img4 {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 220px;
    margin: 8px 8px 30px 8px;
    border-radius: 10px;
}

#platos-destacados .flex-container .plato .plato-img1 {
    background-image: url('/IMAGES/MENUSABORYALMA/LomoSaborYAlma.jpg')
}

#platos-destacados .flex-container .plato .plato-img2 {
    background-image: url('/IMAGES/MENUSABORYALMA/PulpoSaborYAlma.jpg');
}

#platos-destacados .flex-container .plato .plato-img3 {
    background-image: url('/IMAGES/MENUSABORYALMA/RollitosHeisei.jpg');
}

#platos-destacados .flex-container .plato .plato-img4 {
    background-image: url('/IMAGES/MENUSABORYALMA/PolloTrufado.jpg');
}

#platos-destacados .boton-menu {
    background-color: var(--second-color);
    height: 7rem;
    width: 100%;
    align-content: center;
}

#platos-destacados .boton-menu a {
    background-color: var(--primary-color);
    padding: 20px 40px 20px 40px;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 10px;
}

#platos-destacados .boton-menu a:hover {
    background-color: var(--fifth-color);
    color: var(--third-color);
}

#reseñas-y-horarios {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#reseñas-y-horarios .reseñas {
    width: 40%;
    min-width: 450px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#reseñas-y-horarios .reseñas .reseña {
    max-width: 450px;
    padding: 30px;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.5);
}

#reseñas-y-horarios .reseñas .reseña .usuario-info {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

#reseñas-y-horarios .reseñas .reseña .usuario-info img {
    width: 50px;
}

.horario-reservas {
    width: 55%;
    min-width: 600px;
    padding: 60px;
    background-color: black;
}

.horario-reservas h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.tabla-horarios {
    width: 70%;
    height: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tabla-horarios table {
    width: 100%;
    padding: 20px;
}

.tabla-horarios tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 6px;
    padding-top: 6px;
    border-bottom: var(--fifth-color) 1px solid;
}

.tabla-horarios tr #dia-semana {
    font-size: 1.2rem;
    font-weight: bold;
}

.tabla-horarios p {
    width: 75%;
    margin: 0 auto;
}

.boton-reservar {
    background-color: var(--fourth-color);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    width: 40%;
    margin: 30px;
    font-size: 1.2rem;
}

.boton-reservar:hover {
    background-color: var(--second-color);
    color: var(--primary-color);
}

.logo-relleno {
    height: 35vh;
    display: flex;
    justify-content: center;
}

.logo-relleno img {
    height: 100%;
    padding: 10px;
}

#logo-relleno-home {
    background-color: var(--fifth-color);
}

.footer-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
}

.footer-links ul li a:hover {
    color: var(--fourth-color);
}

footer {
    background-color: black;
    text-align: center;
    padding: 70px 40px 10px 40px;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

footer p {
    color: white;
}

.footer-links {
    width: 50%;
}

.logos-footer {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.logos-footer img {
    width: 100%;
    max-width: 250px;
    max-height: 70px;
}

/*subpagina menu*/
.menu-container{
    text-align: center;
}

.menu-title{
    text-align: center;
    margin: 20px;
}

#contenedor-entradas,
#contenedor-platosFuertes,
#contenedor-postres{
    display: flex;
    align-items: center;
    margin: 30px auto;
    width: 90%;
    flex-wrap: wrap;
}

.item {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 290px;
    height: 460px;
    text-align: center;
}

.item img {
    width: 100%;
    border-radius: 8px;
    height: 250px;
    object-fit: cover;
}

/*Subpagina quienes somos*/
.navbar {
    height: 140px;
}

.logo-largo {
    height: 190px;
}

.imagen-quienes-somos {
    background-image: url('/IMAGES/OTHERS/imagen-quienes-somos.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: inset 1000px 1000px 1000px rgba(0, 0, 0, 0.5);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nuestra-historia {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 800px;
    color: white;
    background-color: black;
}

.historia-titulo {
    font-size: 2rem;
    display: flex;
    width: 50%;
    height: 40%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.historia-parrafo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    height: 40%;
    padding: 100px;
}

.historia-parrafo2 {

    background-color: var(--fifth-color);
    color: white;
    width: 50%;
    height: 40%;

    padding: 0 100px 100px 100px;
}

.historia-parrafo2-div {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 50%;
    gap: 60px;
}

.historia-parrafo2-div p {
    font-size: 1.1rem;
}

.historia-parrafo2-div img {
    position: relative;
    z-index: 1000;
    width: 100px;
}

.historia-parrafo3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    color: black;
    background-color: white;
    width: 50%;
    height: 40%;
    text-align: center;
    font-weight: 600;
}

.historia-logo {
    width: 100%;
    height: 20%;
    padding: 10px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    padding: 30px;
}

.historia-logo img {
    max-width: 500px;
}

.logo-ls {
    width: 100%;
    background-image: url('/IMAGES/OTHERS/imagen-relleno-quienes-somos.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 1000px 1000px 1000px rgba(0, 0, 0, 0.5);
    height: 450px;
}

.logo-largo-s {
    padding: 0px;
    width: 39%;
    margin: 0px;
    align-items: center;
}
#enfoque-parrafo {
    background-color: black;
    padding: 100px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

/*Pagina temporal de cerrar sesion*/
#cerrarSesionBtn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
}
#cerrarSesionBtn:hover{
    background-color: var(--primary-color);
}
.main-paginaTemporal{
    padding: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-paginaTemporal h1{
    font-size: 4rem;
}
.main-paginaTemporal h3{
    font-size: 2rem;
    color: var(--third-color);
}

/*Pagina Registrar*/
.flex-registro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}
.left-flex-registro{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-flex-registro{
    width: 40%;
    background-image: url('../IMAGES/OTHERS/Registrar-imagen.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 1000px 1000px 1000px rgba(0, 0, 0, 0.4);
}
.registro-formulario form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    padding: 80px;
    flex-wrap: wrap;
}
.registro-formulario form input{
    margin-bottom: 45px;
    padding: 15px;
    width: 45%;
box-shadow: 0 0px 10px var(--third-color); 
    border: none;
    font-weight: bold;
}
#terminos{
    width: 10px;
    margin-right: 10px;
}
.registro-titulo{
   font-size: 25px;
}

.terminos-registro{
    font-size: 0.9rem; 
    width: 100%;
}

.subrayado-rojo{
    color: var(--primary-color);
}
.flex-div-form-registro-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.flex-div-form-registro-bottom p{
    font-size: 0.9rem;
    text-align: center;
    margin: 0 30px;
}
.boton-registro{
    margin: 0 30px;
    display: flex;
    justify-content: center;
}
.Btn-registro{
    color: white;
    background-color: black;
    border-radius: 10px ;
    width: 150px;
    height: 45px;
    font-weight: bold;
}

.subrayado-verde{
    color: var(--fourth-color);
}

.container-lgoverde,
.container-logo-iniciarSesion{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-lgoverde{
    background-color: var(--third-color);
}
.container-logo-iniciarSesion{
    background-color: var(--second-color);
}
.logo-v{
    height: 80%;
}

/*Pagina iniciar sesion*/
.flex-iniciarSesion{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
}

.flex-iniciarSesion_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-iniciarSesion_right{
    background-image: url('../IMAGES/OTHERS/Login-imagen.jpg');
    background-size: cover;
    background-position: center;
    height: 100%; 
    width: 50vw;
    background-repeat: no-repeat;
    box-shadow: inset 1000px 1000px 1000px rgba(0, 0, 0, 0.4);
}
.flex-iniciarSesion_left form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 50%;
    margin: 30px;
}
.flex-iniciarSesion_left a{
    text-decoration: none;
}
.flex-iniciarSesion_left a:hover{
    color: var(--third-color);
}
.logo-negro{
    width: 340px;
}

.email-inicio,
.contraseña-inicio{
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 0px 10px var(--third-color); 
    border: none;
    width: 100%;
    height: 55px;
}
.contraseña-login-flex{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}
.registrate{
    display: flex;
    font-size: 0.9rem;
    gap: 10px;
}
.btn-inicio{
    color: white;
    background-color: black;
    border-radius: 10px ;
    width: 50%;
    height: 50px;
    font-weight: bold;   
}
.subray-rojo{
    color: var(--primary-color);
}
.subray-verde{
    color: var(--fourth-color);
}