:root {
    --primary-color: #7d0505;
    --second-color: #8e5454;
    --third-color: #9a8b87;
    --fourth-color: #0e5f01;
    --fifth-color: #1c3504;
}
.main-vistaMesero{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../IMAGES/OTHERS/imagen-vista-mesero.jpg');
    background-size: cover;
    background-position: start;
    box-shadow: inset 1000px 1000px 1000px rgba(0, 0, 0, 0.4);
}
.main-vistaMesero h1{
    color: white;
    font-size: 4rem;
    margin-bottom: 50px;
}
.main-vistaMesero div button{
    background-color: var(--third-color);
    border: none;
    padding: 25px 35px;
    font-size: 1.5rem;
    margin: 30px;
    border-radius: 5px;
}

.main-vistaMesero div button:hover{
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--third-color);
    }

  .title-reservas{
    text-align: center;
    margin-top: 50px;
  }
 
  #reservas-lista{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  /* Estilos para cada reserva */
  .reserva {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-width: 400px;
    max-width: 600px;
  }
 
  /* Espaciado entre párrafos de la reserva */
  .reserva p {
    margin: 5px 0;
  }
 
  /* Estilo para los textos en negrita */
  .reserva strong {
    font-weight: bold;
  }
  .modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* Encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Habilitar desplazamiento si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.4); /* Fondo negro con opacidad */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% desde arriba y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .recibirReservaindividualBtn{
    background-color: rgb(198, 197, 197);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4px;
  }
  .recibirReservaindividualBtn:hover{
    background-color: var(--second-color);
    color: white;
  }
#main-container-pedidoMesero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
#main-container-pedidoMesero h2{
  margin-top: 10px;
}
#main-container-pedidoMesero .pedidoMeseroTitle{
  font-size: 3rem;
  font-weight: bold;
  color: var(--second-color);
  margin-bottom: 20px;
}
#main-container-pedidoMesero .ingresarNumeroMesaPedido{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid var(--second-color);
  border-radius: 10px;
  width: 30%;
  font-size: 1.2rem;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 1px #8e545478;
}
#carrito {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.item{
  width: 260px;
  height: 410px;
}
#contenedor-entradas,
#contenedor-platosFuertes,
#contenedero-postres{
  width: 98%;
}
.item p{
  max-height: 80px;
  overflow: scroll;
  margin-bottom: 10px;
}
.item img{
  height: 160px;
}
#finalizarPedidoBtn{
  background-color: var(--third-color);
  padding: 15px;
  margin-bottom: 100px;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
}
#finalizarPedidoBtn:hover{
  background-color: var(--primary-color);
  color: white;
  }